[Unit]
Description=MinecraftProxy
After=network.target

[Service]
SyslogIdentifier=mcproxy
Restart=always
RestartSec=5
Type=simple
User=nix
WorkingDirectory=/home/nix/webserver/mcproxy
ExecStart=/home/nix/webserver/mcproxy/app.py
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target