<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MCProxy - nixuge.me</title>
</head>

<body>
    <h1>Installation instructions</h1>
    <ul id="installation_steps">
        <li>
            Download either
            <a href="https://github.com/PolyMC/PolyMC/releases/latest">PolyMC</a>
            or
            <a href="https://github.com/PrismLauncher/PrismLauncher/releases/latest">PrismLauncher</a>
            <ul>
                <li><b>IF POSSIBLE, GET THE PORTABLE BUILD (.zip).</b></li>
            </ul>
        </li>
        <br>
        <li>
            Download the
            <a href="meta/accounts.json">accounts.json</a> file (rightclick>save)
            and place it in the PolyMC/PrismLauncher data folder
            <ul>
                <li>if portable, place it in the extracted folder with the executable</li>
                <li>if not portable, the data folder should be in your %localappdata% on windows and on your .local/share on linux</li>
            </ul>
        </li>
        <br>
        <li>
            Open the settings, go to the APIs tab, and inside "Metadata Server", place one of the URLs below:
            <ul>
                <li>If using PolyMC, https://mcdl.nixuge.me/get_data/meta.polymc.org/v1/</li>
                <li>If using PrismLauncher, https://mcdl.nixuge.me/get_data/meta.prismlauncher.org/v1/</li>
            </ul>
        </li>
        <br>
        <li>
            After these steps, the installation itself should be done<br>
            Just add a new account with your username
            (top right>manage accounts>add offline)
            and you're good to go
        </li>
    </ul>
    <h2>Report issues @ one of the contacts <a href="https://nixuge.me">here</a></h2>
</body>
</html>