<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=.6">
    <meta charset="UTF-8">
    <title>MCProxy - nixuge.me</title>
</head>

<body>
    <h1>MCProxy</h1>

    <h2>What's that for?</h2>
    <ul>
        MCProxy is a "proxy" that allows you to download Minecraft versions from networks that have the Mojang servers
        blocked.<br>

        It's made primarily for the PolyMC and PrismLauncher launchers.<br>

        You can get the source for the server
        <a href="https://github.com/Nixuge/mcproxy">here</a>,
        it's fairly simple so feel free to dig into the code
        and selfhost your own server.<br>

        <b>Note that this doesn't restore the authentification servers</b>,
        it only allows you to download the versions jars/libs jars.
    </ul>

    <h1>Installation instructions</h1>
    <ul id="installation_steps">
        <li>
            Download either
            <a href="https://github.com/PolyMC/PolyMC/releases/latest">PolyMC</a>
            or
            <a href="https://github.com/PrismLauncher/PrismLauncher/releases/latest">PrismLauncher</a>
            <ul>
                <li><b>IF POSSIBLE, GET THE PORTABLE BUILD (.zip).</b></li>
            </ul>
        </li>
        <br>
        <li>
            Download the
            <a href="meta/accounts.json" download>accounts.json</a> file
            and place it in the PolyMC/PrismLauncher data folder
            <ul>
                <li>if portable, place it in the extracted folder with the executable</li>
                <li>if not portable, the data folder should be in your %localappdata% on windows and on your
                    .local/share on linux</li>
            </ul>
        </li>
        <br>
        <li>
            Open the settings, go to the APIs tab, and inside "Metadata Server", place one of the URLs below:
            <ul>
                <li>If using PolyMC, <mark>https://mcdl.nixuge.me/get_data/meta.polymc.org/v1/</mark></li>
                <li>If using PrismLauncher, <mark>https://mcdl.nixuge.me/get_data/meta.prismlauncher.org/v1/</mark></li>
            </ul>
        </li>
        <br>
        <li>
            After these steps, the installation itself should be done<br>
            Just add a new account with your username
            (top right>manage accounts>add offline)
            and you're good to go
        </li>
    </ul>
    <h2>Report issues @ one of the contacts <a href="https://nixuge.me">here</a></h2>

    <h3><a href="https://nixuge.me">Back to the main website?</a></h3>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

    body {
        padding-left: 1%;
        background-color: #101010;
        color: #FFF;
        font-family: 'Quicksand', Helvetica, Arial, sans-serif;
        font-size: 150%;
    }

    a {
        color: #3391ff;
        /* From dark reader*/
    }

    mark {
        background-color: #eee;
        border-radius: 5px;
    }

    li {
        padding: 1px;
    }
</style>

</html>